<h1>All Patients</h1>

<%= link_to 'New Patient', new_patient_path %>
<table>
	  <tr><th>#</th>
	  <th>Name</th>
	  <th>Show</th>
	  <th>Edit</th>
	  <th>Delete</th></tr>
      <%= render @patients %>
      
</table>

<br />

<%= link_to 'New Patient', new_patient_path %>
